In [ ]:
#1. What are data structures, and why are they important ?

"""
-Data structures are the fundamental building blocks of computer programming.
-Data structures are methods used to arrange and store data in a way that allows
 for efficient access and modification. They play a crucial role in enhancing data
 handling, optimizing algorithms, and improving the overall performance of applications.
"""

'\n-Data structures are the fundamental building blocks of computer programming.\n-Data structures are methods used to arrange and store data in a way that allows\n for efficient access and modification. They play a crucial role in enhancing data\n handling, optimizing algorithms, and improving the overall performance of applications.\n'

In [ ]:
#2 Explain the difference between mutable and immutable data types with examples.
"""
In Python, mutable and immutable data types determine whether an object's value can be changed after it is created.

1️. Mutable Data Types (Changeable)
- Definition: Mutable objects allow modification after creation without changing their memory address.
Example:-

my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list[1] = 10  # Modifying the second element
print(my_list)  # Output: [1, 10, 3]

2. Immutable Data Types (Unchangeable)
- Definition: Immutable objects cannot be changed after creation. Any modification creates a new object instead of changing the existing one.
Example:-

my_string = "Hello"
print(my_string)  # Output: Hello

my_string[0] = "M"  # Trying to modify the first character (This will cause an error)

TypeError: 'str' object does not support item assignment


"""

In [ ]:
#3 What are the main differences between lists and tuples in Python?
"""
Lists are modifiable, allowing their elements to be changed, whereas tuples are unchangeable once created.
Lists provide more flexibility but are slower in access, while tuples, due to their immutability, enable faster iterations and are commonly used as dictionary keys.
"""

In [ ]:
#4  Describe how dictionaries store data
"""
Python dictionaries organize data as key-value pairs, where each key is linked
 to a corresponding value. They use a hashing mechanism to efficiently store and
 retrieve data. To access a value, the associated key must be provided.
 This design enables quick searches, insertions, and removals of data.
"""

In [ ]:
#5 Why might you use a set instead of a list in Python?
"""
Sets are helpful when you need to store only unique items and check if something exists
quickly. Unlike lists, sets remove duplicates automatically, making them great for finding
unique values or doing math-like operations with groups of items.
"""

In [ ]:
#6 What is a string in Python, and how is it different from a list?
"""
A string in Python is a sequence of characters enclosed in quotes ("" or ''). It is used to store text data.

-A string is a fixed sequence of characters that cannot be changed, while a list is a flexible collection
  that can hold different types of data and be modified. Both allow indexing and slicing, but only lists
 can be updated after creation.
"""

In [ ]:
#7 How do tuples ensure data integrity in Python?
"""
A tuple in Python is an immutable sequence,
meaning its contents cannot be changed after creation.
This immutability helps ensure data integrity by preventing accidental modifications.

1️ Prevents Unintended Changes – Once a tuple is created, its elements cannot be modified, reassigned, or removed.
2️ Safe for Sensitive Data – Ensures critical information remains unchanged throughout the program.
3️ Reliable as Dictionary Keys – Because tuples are immutable, they can be used as keys in dictionaries, ensuring consistency.
4️ Thread-Safe – Since tuples cannot be modified, they are safer to use in multi-threaded applications.
"""

In [ ]:
#8 What is a hash table, and how does it relate to dictionaries in Python?
"""
A hash table is a data structure that stores data in key-value pairs using a hashing function. It allows for fast lookups,
 insertions, and deletions by mapping keys to unique memory locations (indexes).

-Python dictionaries utilize hash tables to organize data, which means you can swiftly retrieve values using their unique keys.
"""

In [ ]:
#9 Can lists contain different data types in Python?
"""
Yes, lists in Python can contain different data types. Unlike arrays in some other languages,
 Python lists are flexible and can store a mix of integers, floats, strings, booleans, other lists, dictionaries, tuples, and even functions.
"""

In [ ]:
#10 Explain why strings are immutable in Python
"""
In Python, strings cannot be changed after creation, which helps improve efficiency and security.
Every string operation generates a new object, preventing accidental changes and making the code more stable and reliable.
"""

In [ ]:
#11 What advantages do dictionaries offer over lists for certain tasks?
"""
Dictionaries allow fast key-based lookups with constant-time complexity (O(1)),
 making them more efficient than lists for frequent data retrieval. In contrast,
  lists require linear-time searching (O(n)), which becomes slower as the dataset grows.
"""

In [ ]:
#12  Describe a scenario where using a tuple would be preferable over a list
"""
Tuples are preferable when data should remain constant.
Imagine you're storing coordinates of a location (latitude and longitude) in a program. Since coordinates should not change, a tuple is the better choice.
"""

In [ ]:
#13 How do sets handle duplicate values in Python?
"""
In Python, sets automatically remove duplicate values when elements are added. This feature is helpful in situations where only unique elements are needed.
"""

In [ ]:
#14  How does the “in” keyword work differently for lists and dictionaries?
"""
The in keyword is used to check whether a value exists in a list or a dictionary,
 but it works differently for each:

-> in with Lists (O(n))
- Checks if a value exists in the list.
- Requires scanning the entire list (linear search).
- Slower for large lists because it checks each element one by one.

-> in with Dictionaries (O(1))
- Checks if a key exists, not values.
- Uses hashing for fast lookups.
- Much faster than lists because dictionary keys are hashed.
"""

In [ ]:
#15 Can you modify the elements of a tuple? Explain why or why not.
"""
No, tuples are immutable in Python, meaning their elements cannot be changed after creation.

- Why Are Tuples Immutable?
1️ Memory Efficiency → Tuples use less memory than lists.
2️ Faster Execution → Since they cannot be modified, Python optimizes their performance.
3️ Safe for Hashing → Tuples can be used as keys in dictionaries, unlike lists.
4️ Prevents Accidental Changes → Protects data from unintended modifications.
"""

In [ ]:
#16 What is a nested dictionary, and give an example of its use case?
"""
A nested dictionary is a dictionary inside another dictionary. It allows storing hierarchical or structured data, making it useful for organizing complex information.

-Example of a Nested Dictionary
Let’s say we need to store student records, including their name, age, and subjects with marks:

students = {
    "student1": {
        "name": "Alice",
        "age": 20,
        "marks": {"Math": 85, "Science": 90}
    },
    "student2": {
        "name": "Bob",
        "age": 22,
        "marks": {"Math": 78, "Science": 88}
    }
}
- This structure helps store detailed data for multiple students efficiently.

-> Use Cases of Nested Dictionaries
- Storing User Data → Like profiles in a database
- Organizing JSON Data → Nested dictionaries are similar to JSON
- Configuration Settings → Managing multi-level settings in software
- Game Development → Storing player details, inventory, and stats
"""

In [ ]:
#17 Describe the time complexity of accessing elements in a dictionary.
"""
Accessing elements in a dictionary is highly efficient, with an average time
 complexity of O(1) due to its hash table structure. This makes dictionaries
  perfect for tasks that need fast and frequent data retrieval.
"""

In [ ]:
#18 In what situations are lists preferred over dictionaries?
"""
Lists are the better choice when maintaining the order of elements is important
or when accessing items by their position. Unlike dictionaries that rely on keys,
 lists store elements in a specific sequence, making them ideal for tasks that involve working with ordered data.
"""

In [ ]:
#19 Why are dictionaries considered unordered, and how does that affect data retrieval?
"""
Dictionaries in Python are seen as unordered because they don't follow a fixed sequence for
storing keys and values. However, this does not impact data retrieval since values are accessed
directly using keys, thanks to the hashing mechanism.
"""

In [ ]:
#20 Explain the difference between a list and a dictionary in terms of data retrieval.
"""
In a list, elements are accessed using their index, making retrieval simple. However,
earching for an unknown element requires scanning the list, which can take longer.
 On the other hand, a dictionary provides direct access to values using keys,
  ensuring faster retrieval regardless of the number of elements.
"""

#Practical Questions

In [39]:
#1 Write a code to create a string with your name and print it


name = "Shivam Thacker"

print(name)

Shivam Thacker

In [40]:
#2 Write a code to find the length of the string "Hello World"

text = "Hello World"

print(len(text))

11

In [41]:
#3Write a code to slice the first 3 characters from the string "Python Programming

text = "Python Programming"

first_three = text[:3]

print(first_three)

Pyt

In [42]:
#4 Write a code to convert the string "hello" to uppercaseP

text = "hello"
uppercase_text = text.upper()

print(uppercase_text)

HELLO

In [43]:
#5  Write a code to replace the word "apple" with "orange" in the string "I like apple"P

text = "I like apple"
new_text = text.replace("apple", "orange")

print(new_text)

I like orange

In [44]:
#6 Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [45]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]P

numbers = [1, 2, 3, 4]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

In [46]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

In [47]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]

print(second_element)

b

In [48]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]

print(reversed_numbers)

[50, 40, 30, 20, 10]

In [49]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [50]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')

second_last = colors[-2]
print(second_last)

blue

In [51]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)

print(min_number)

5

In [52]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')

cat_index = animals.index('cat')

print(cat_index)

1

In [55]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "mango")

is_kiwi_present = "kiwi" in fruits

print(is_kiwi_present)

False

In [56]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}

print(my_set)

{'b', 'a', 'c'}

In [57]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}

numbers.clear()
print(numbers)

set()

In [58]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}

numbers = {1, 2, 3, 4}

numbers.remove(4)

print(numbers)

{1, 2, 3}

In [59]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.


set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)


print(union_set)

{1, 2, 3, 4, 5}

In [60]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

In [61]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Shivam",
    "age": 24,
    "city": "Rajkot"
}

print(person)

{'name': 'Shivam', 'age': 24, 'city': 'Rajkot'}

In [62]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [63]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print(name_value)

Alice

In [64]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

In [65]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.


person = {'name': 'Alice', 'city': 'Paris'}


if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [66]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.


my_list = [1, 2, 3, 4, 5]


my_tuple = ('apple', 'banana', 'cherry')


my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [67]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random


random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()


print("Sorted random numbers:", random_numbers)

Sorted random numbers: [53, 64, 75, 77, 80]

In [68]:
#28 Write a code to create a list with strings and print the element at the third index.

fruits = ["apple", "banana", "cherry", "mango", "orange"]

print("Element at index 3:", fruits[3])

Element at index 3: mango

In [69]:
#29 Write a code to combine two dictionaries into one and print the result

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

combined_dict = {**dict1, **dict2}


print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [70]:
#30 Write a code to convert a list of strings into a set.

fruits = ["apple", "banana", "cherry", "apple", "banana"]

fruit_set = set(fruits)

print("Set:", fruit_set)

Set: {'banana', 'cherry', 'apple'}